body {
  margin: 10px auto;
  max-width: 900px;
}
section {
  margin-bottom: 20px;
  min-height: 300px;
  padding: 0px 30px;
}

.prompt {
  font-style: italic;
  font-size: 14px;
  color: grey;
}

.answer {
  margin-top: 15px;
  padding: 4px;
  border: green solid 4px;
}

.picture-collage {
flex: 1;
}

.collage-img {
  max-height: 180px;
}

.portrait {
  margin-top: 6px;
}

.portrait-img {
  max-height: 300px;
}

label {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.hidden {
  display: none;
}